*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-text-color: #3b3d3f;
    --secondary-text-color: #de0000;
    --secondary-bg-color: #de0000;
    --subheading-text-color: #333;
    --hover-text-color: #F36A25;
    --primary-font-family: "Poppins", sans-serif;
}
/* global classes */
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 5px;
}

body{
    font-family: var(--primary-font-family);
}
/* header */
.header-top{
    display: flex;
    justify-content: space-between;
}
.header-top img{
    padding: 15px 0;
    width: 70%;
}
.header-top ul{
    display: flex;
    margin-top: 45px;
}
.header-top ul li {
    display: inline-block;
    padding-left: 40px;
}
.header-top ul li a{
    color: var(--primary-text-color);
    text-decoration: none;
}
/* nav */
nav{
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
nav ul{
    display: flex;
    padding: 20px 0;
}
nav ul li {
    display: inline-block;
    padding-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
}
nav ul li a:hover{
    color: var(--secondary-text-color);
}
/* main content styling */
#block-content-section{

}
.container{
  display: flex;
}
.block-main-content{
  display: flex;
  width: 60%;
    
}
.writing-content{
  margin:6px;
    padding: 2px;
    padding-left: 10px; 
    text-align: center;
    padding-top: 15px;
}
.block-side-content{
 width: 30%;
 text-align: center;
}
.block-main-content img{
    padding-top: 20px;
}
.block-side-content img{[
    width: 80%;
]}